.Rhistory
.RData
.Rproj.user
ragg.Rproj
src/*.o
src/*.so
src/*.dll
src/agg/*.a
src/agg/src/*.o
src/agg/src/*.so
src/agg/src/*.dll
src/Makevars
.DS_Store
inst/doc
docs/
configure.log
autobrew
.vscode/*
compile_commands.json
.cache
